/* GLOBAL */

html {
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%; /* 16px */
    color: #000;
    margin: 0 auto;
}

h1 {
  font-family: font77462;
  font-size: 1.875rem; /* 30px */
  text-decoration: none;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  font-size: 0.875rem; /* 14px */
}

.page {
  margin: 0 auto;
}

/* ===== TOPBOX ===== */

.topbox {
  background-color: #e52b2b;
  color: #fff;
  display: inline-flex;
  width: 100%;
  padding: 0.75rem 1rem;
}

.topbox p {
  padding: 0.6rem 0 0 1.5rem;
}

.topbox li {
  padding: 0 0 0 0.25rem;
}

.social-nav-top {
  display: block;
  max-width: 1020px;
  list-style-type: none;
  color: #fff;
}

.social-nav-top li {
  display: inline-block;
  font-size: 2rem;
}

.social-nav-top a {
  color: #fff;
}

.social-nav-top a:hover {
  color: #55b737;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/* .socialnav li:last-child {
  font-size: 0.875rem;
  margin: 0 0 0 1rem;
} */

/* ===== HEADER ===== */

.logo {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 3.125rem 0; /* 50px */
}

/* ===== NAVIGATION ===== */

.navigation {
  margin: 0 auto 3.125rem auto;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 1.5rem 0 1rem 0;
  max-width: 1020px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: left;
}

.navmain {
  font-family: 'font77462', sans-serif;
  font-size: 1.25rem; /* 18px */
  list-style-type: none;
}

.navmain li {
  display: inline;
  margin: 0 0 0 1.25rem;
}

.navmain a:hover {
  color: #e52b2b;
}

/* ===== MAIN ===== */

.main-index {
  margin: 0 auto;
  width: 100%;
}

.image {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

.social-nav-main {
  color: #000;
  list-style-type: none;
  margin: 3.125rem auto 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.social-nav-main li {
  font-size: 4rem;
  padding-left: 0.75rem;
}

.social-nav-main li:first-child {
  padding-left: 0;
}

.social-nav-main a {
  color: #000;
}

.social-nav-main a:hover {
  color: #85bf51;
}

main p {
  color: #000;
  font-family: 'font77462', sans-serif;
  font-size: 1.25rem;
  list-style-type: none;
  margin: 3.125rem auto 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.location a {
  color: #000;
}

.location a:hover {
  color: #85bf51;
}



/* ===== FOOTER ===== */

.bottombox {
  background-color: #e52b2b;
  color: #fff;
  display: inline-flex;
  width: 100%;
  padding: 0.75rem 1rem;
  margin: 3.125rem 0 0 0;
}

.bottombox a {
  color: #fff;
}

.bottombox p {
  padding: 0.6rem 0 0.6rem 1.5rem;
}





/* ===== FOOTER ===== */
