/* GLOBAL */

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%; /* 16px */
  color: #000;
  margin: 0 auto;
  overflow-x: hidden;
}

h1 {
  font-family: 'font81797', sans-serif;
  font-size: 2rem; /* 26px */
  color: #55b737;
  padding: 0 0 1rem 0;
}

h2 {
  font-family: 'font81797', sans-serif;
  font-size: 1.25rem; /* 20px */
  padding: 0 0 0.5rem 0;
}

h3 {
  font-family: 'font76997', sans-serif;
  font-size: 1rem; /* 16px */
}

a {
  color: #000;
  text-decoration: none;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
}

.page {
  margin: 0 auto;
}

.currentpage {
  color: #e52b2b;
}

/* ===== TOPBOX ===== */

.topbox {
  background-color: #e52b2b;
  color: #fff;
  display: inline-flex;
  width: 100%;
  padding: 0.75rem 1rem;
}

.topbox p {
  padding: 0.6rem 0 0 1.5rem;
}

.topbox li {
  padding: 0 0 0 0.25rem;
}

.topbox li:first-child {
  padding: 0 0 0 1rem
}

.social-nav-top {
  display: block;
  /* max-width: 1020px; */
  list-style-type: none;
  color: #fff;
}

.social-nav-top li {
  display: inline-block;
  font-size: 2rem;
}

.social-nav-top a {
  color: #fff;
}

.social-nav-top a:hover {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/* ===== HEADER ===== */

.logo {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 3.125rem 0; /* 50px */
}

/* ===== NAVIGATION ===== */

.navigation {
  list-style: none;
  margin: 0 auto 3.125rem auto;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 1rem 0 1rem 0;
  max-width: 1020px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: left;
}

.navigation a {
  display: inline-block;
}

.navmain {
  font-family: 'font77462', sans-serif;
  font-size: 1.25rem; /* 18px */
  list-style-type: none;
}

.navmain li {
  display: inline;
  margin: 0 0 0 2rem;
}

.navmain li:first-child {
  margin: 0 0 0 1.25rem;
}

.navmain a:hover {
  color: #e52b2b;
}

/* ===== MAIN ===== */

.main-index {
  margin: 0 auto;
  max-width: 1020px;
}

.image {
  margin: 0 auto;
  max-width: 96%;
  padding: 0 2%;
  display: block;
}

.social-nav-main {
  color: #000;
  list-style-type: none;
  margin: 3.125rem auto 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.social-nav-main li {
  font-size: 4rem;
  padding-left: 0.75rem;
}

.social-nav-main li:first-child {
  padding-left: 0;
}

.social-nav-main a {
  color: #000;
}

.social-nav-main a:hover {
  color: #85bf51;
}

.location {
  color: #000;
  font-family: 'font77462', sans-serif;
  font-size: 1.25rem;
  list-style-type: none;
  margin: 3.125rem auto 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.location a {
  color: #000;
}

.location a:hover {
  color: #85bf51;
}

/* ===== MENU ===== */

.menu {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem;
}

.float-right {
  float: right;
}

.h3 {
  font-family: 'font76997', sans-serif;
  font-size: 1rem; /* 16px */
}

.menu-item {
  margin: 0 0 2rem 0;
}

.menu p {
  max-width: 500px;
  font-family: 'font76997', sans-serif;
  font-size: 1.25rem;
}

/* ===== GALLERY ===== */

.main-gallery {
  margin: 0 auto;
  max-width: 1020px;
  text-align: center;
}

.gallery {
    -moz-column-width: 18.75rem;
    -webkit-column-width: 18.75rem;
    -moz-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    margin: 0 auto;
    width: 100%;
}

.thumbnail {
    display: inline-block;
    padding: 0 0 2.5rem 0;
    width: 100%;
}

/* ===== ABOUT ===== */

.section.two-up {
  display: flex;
  flex-direction: column;
}

@media (min-width: 960px) {
   .section.two-up {
     flex-direction: row;
     max-width: 1020px;
     margin: auto;
  }
}

img {
    max-width: 100%;
}

.section.two-up .image,
.section.two-up .article {
    padding: 20px;
}

.about p {
  font-family: 'font76997', sans-serif;
  font-size: 1.25rem;
  line-height: 1.25;
  padding: 0 0 3.125rem 0;
}

button {
  background-color: #e52b2b;
  color: #fff;
  border: none;
  font-family: 'font76997', sans-serif;
  font-size: 1.25rem;
  padding: 0.75rem;
}

button a {
  color: #fff;
}

button a:hover {
  color: #000;
}

/* ===== FOOTER ===== */

.bottombox {
  background-color: #e52b2b;
  color: #fff;
  display: inline-flex;
  width: 100%;
  padding: 0.75rem 1rem;
  margin: 3.125rem 0 0 0;
}

.bottombox a {
  color: #fff;
}

.bottombox a:hover {
  color: #000;
}

.bottombox p {
  padding: 0.6rem 0 0.6rem 1.5rem;
}


/* ===== MEDIA QUERIES ===== */

@media (max-width: 640px) {
.navmain {
  margin: 0 auto;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
    text-align: center;
    justify-content: center;
  }

.navmain li {
    display: block;
    margin: 0 auto;
}

.navmain li:first-child {
  margin: 0 auto;
}

.footer {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 1rem;
    text-align: center;
    }

.navigation {
  padding: 0;
  background-color: #e6e6e6;
}

.navmain a {
  text-align: center;
  padding: 0.625rem;
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.navmain li:last-of-type a {
  border-bottom: none;
}

.topbox {
  padding: 0.75rem 0;
}

.topbox p {
  display: none;
}

.social-nav-top {
  margin: 0 auto;
}

.topbox li:first-child {
  padding: 0;
  }

  .menu p {
    max-width: 400px;
  }
}

@media (max-width: 440px) {
  .menu p {
    max-width: 300px;
  }
}
